.homeProductTrending {
  padding: 10px 0 80px;
  background-color: whitesmoke;
}
.homeProductTrending .homeProductTrending_header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homeProductTrending .homeProductTrending_header h2 {
  font-size: 26px;
  font-weight: 700;
}
.homeProductTrending .homeProductTrending_header a {
  background-color: #fff;
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  color: #512da8;
  border: 1px solid #512da8;
}
.homeProductTrending .homeProductTrending_carts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}
.homeProductTrending .homeProductTrending_carts .trending_cart {
  height: 480px;
  width: calc((100% - 120px) / 4);
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.homeProductTrending .homeProductTrending_carts .trending_cart a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #282828;
}
.homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_upper {
  height: 65%;
  overflow: hidden;
  border-radius: 10px;
}
.homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_upper img {
  width: 100%;
  height: 100%;
  transition: 1.2s;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower {
  height: 35%;
  padding: 20px 25px;
  color: #282828;
}
.homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: -8px;
}
.homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower h3 {
  font-size: 24px;
  font-weight: 700;
  color: #512da8;
}
.homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower p {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  justify-content: center;
  margin-top: 10px;
}
.homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower p span {
  font-weight: 700;
  color: #512da8;
}
.homeProductTrending .homeProductTrending_carts .trending_cart:hover a .trending_cart_upper img {
  transform: scale(1.1);
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
  .homeProductTrending .homeProductTrending_carts {
    gap: 30px;
    flex-wrap: wrap;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart {
    height: 420px;
    width: calc((100% - 60px) / 3);
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart:nth-child(4) {
    display: none;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower {
    padding: 10px 20px;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower h2 {
    font-size: 22px;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower h3 {
    font-size: 22px;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower p {
    font-size: 15px;
    font-weight: 500;
    margin-top: 4px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .homeProductTrending .homeProductTrending_carts {
    flex-wrap: wrap;
    gap: 35px;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart {
    height: 480px;
    width: calc((100% - 35px) / 2);
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower h2 {
    margin-top: 5px;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower p {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .homeProductTrending .homeProductTrending_header h2 {
    font-size: 24px;
    font-weight: 600;
  }
  .homeProductTrending .homeProductTrending_header a {
    width: 180px;
    height: 40px;
    font-size: 14px;
  }
  .homeProductTrending .homeProductTrending_carts {
    flex-wrap: wrap;
    gap: 25px;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart {
    height: 480px;
    width: calc((100% - 25px) / 2);
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower h2 {
    font-size: 22px;
    font-weight: 600;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower h3 {
    font-size: 22px;
    font-weight: 700;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower p {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 576px) {
  .homeProductTrending .homeProductTrending_header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column-reverse;
  }
  .homeProductTrending .homeProductTrending_header h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .homeProductTrending .homeProductTrending_header a {
    width: 220px;
    height: 45px;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 0;
  }
  .homeProductTrending .homeProductTrending_carts {
    gap: 20px;
    flex-wrap: wrap;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart {
    height: 420px;
    width: 100%;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower {
    padding: 10px 15px;
  }
  .homeProductTrending .homeProductTrending_carts .trending_cart a .trending_cart_lower p {
    margin-top: 15px;
  }
}