.productsFilterness {
    position: relative;
    color: #282828;
    background-color: whitesmoke;

    .productsFiltering {
        padding: 40px 0 80px;

        .productFilter_open{
            display: none;
        }


        .productsFiltering_header {
            margin-bottom: 20px;

            h1 {
                font-size: 36px;
                font-weight: 700;
                color: #282828;
            }
        }

        .productsFiltering_main {
            display: flex;
            justify-content: flex-start;

            aside {
                width: 25%;
                min-height: 100vh;
                padding: 20px;
                overflow: hidden;
                background-color: #fff;
                border-radius: 20px;
                .close_button_icon{
                    display: none;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .product_filter_items {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .heading {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            // background-color: red;
                            cursor: pointer;

                            h2 {
                                font-size: 22px;
                                font-weight: 600;
                            }

                            .react-icons {
                                font-size: 25px;
                            }
                        }

                        .colors_item {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 8px;

                            .color_item_radio {
                                input {
                                    display: none;

                                    &:checked {
                                        &~label {
                                            outline: 4px solid black;
                                            outline-offset: 3px;
                                        }
                                    }
                                }

                                label {
                                    display: block;
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    transition: 0.2s;
                                    cursor: pointer;
                                    border: 2px solid gray;


                                }
                            }
                        }

                    }

                    .product_filter_item {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .heading {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;

                            h2 {
                                font-size: 22px;
                                font-weight: 600;
                            }

                            .react-icons {
                                font-size: 25px;
                            }
                        }

                        .brand_items {
                            .brand_item {
                                margin-top: 1px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                cursor: pointer;
                                width: 100%;

                                input {
                                    width: 25px;
                                    height: 25px;
                                    cursor: pointer;

                                    &:checked {
                                        &~label {
                                            font-weight: 800;
                                        }
                                    }
                                }

                                label {
                                    cursor: pointer;
                                    width: 90%;
                                    text-align: right;
                                    font-size: 18px;
                                    transition: 0.3s;
                                }
                            }
                        }
                    }
                }
            }

            section {
                width: 75%;
                // padding: 0 30px;
            }
        }
    }
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
    .productsFilterness {

        .productsFiltering {

            .productsFiltering_main {
                aside {

                    form {
                        gap: 18px;

                        .product_filter_items {

                            .heading {

                                h2 {
                                    font-size: 20px;
                                }

                                .react-icons {
                                    font-size: 22px;
                                }
                            }

                            .colors_item {
                                gap: 6px;

                                .color_item_radio {
                                    input {
                                        &:checked {
                                            &~label {
                                                outline: 3px solid black;
                                            }
                                        }
                                    }

                                    label {
                                        width: 35px;
                                        height: 35px;
                                    }
                                }
                            }

                        }

                        .product_filter_item {

                            .heading {
                                h2 {
                                    font-size: 20px;
                                }

                                .react-icons {
                                    font-size: 22px;
                                }
                            }

                            .brand_items {
                                .brand_item {

                                    input {
                                        width: 22px;
                                        height: 23px;
                                    }

                                    label {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width:992px) {
    .productsFilterness {

        .productsFiltering {

            .productsFiltering_main {

                aside {
                    width: 30%;
                    padding: 15px;

                    form {

                        .product_filter_items {

                            .heading {

                                h2 {
                                    font-size: 20px;
                                    font-weight: 600;
                                }

                                .react-icons {
                                    font-size: 21px;
                                }
                            }

                            .colors_item {
                                gap: 5px;

                                .color_item_radio {
                                    input {

                                        &:checked {
                                            &~label {
                                                outline: 3px solid black;
                                            }
                                        }
                                    }

                                    label {
                                        width: 29px;
                                        height: 29px;
                                    }
                                }
                            }

                        }

                        .product_filter_item {

                            .heading {

                                h2 {
                                    font-size: 20px;
                                    font-weight: 600;
                                }

                                .react-icons {
                                    font-size: 21px;
                                }
                            }

                            .brand_items {
                                .brand_item {

                                    input {
                                        width: 22px;
                                        height: 22px;

                                        &:checked {
                                            &~label {
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                section {
                    width: 70%;
                }
            }
        }
    }
}

@media only screen and (min-width: 577px) and (max-width:768px) {
    .productsFilterness {

        .productsFiltering {
            padding: 20px 0 60px;

            .productsFiltering_header {
                margin-bottom: 16px;

                h1 {
                    font-size: 32px;
                }
            }

            .productsFiltering_main {

                aside {
                    width: 35%;
                    padding: 12px;

                    form {

                        .product_filter_items {

                            .heading {

                                h2 {
                                    font-size: 18px;
                                    font-weight: 600;
                                }

                                .react-icons {
                                    font-size: 20px;
                                }
                            }

                            .colors_item {
                                gap: 4px;

                                .color_item_radio {
                                    input {

                                        &:checked {
                                            &~label {
                                                outline: 3px solid black;
                                                outline-offset: 2px;
                                            }
                                        }
                                    }

                                    label {
                                        width: 26px;
                                        height: 26px;
                                    }
                                }
                            }

                        }

                        .product_filter_item {
                            .heading {
                                h2 {
                                    font-size: 18px;
                                    font-weight: 600;
                                }

                                .react-icons {
                                    font-size: 20px;
                                }
                            }

                            .brand_items {
                                .brand_item {
                                    margin-top: 2px;

                                    input {
                                        width: 20px;
                                        height: 20px;

                                        &:checked {
                                            &~label {
                                                font-weight: 700;
                                            }
                                        }
                                    }

                                    label {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }

                section {
                    width: 65%;
                }
            }
        }
    }
}





@media only screen and (max-width: 576px) {
    .productsFilterness {
        position: relative;

        .productsFiltering {
            padding: 56px 0 50px;
            .productFilter_open{
                display: flex;
                position: absolute;
                top: 8px;
                left: 6px;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .react-icons{
                    color: #282828;
                    font-size: 50px;
                }

            }


            .productsFiltering_header {
                margin-bottom: 15px;

                h1 {
                    font-size: 32px;
                }
            }

            .productsFiltering_main {
                display: flex;
                justify-content: flex-start;

                aside {
                    position: absolute;
                    top: 0;
                    left: -100%;
                    bottom: 0;
                    z-index: 2;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 0;
                    padding-top: 60px;
                    transition: 0.5s;
                    background-color: #282828;
                    color: #fff;
                    .close_button_icon{
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        top: 0;
                        right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        .react-icons{
                            font-size: 25px;
                            color: #fff;
                        }
                    }

                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 0 15px;

                        .product_filter_items {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .heading {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                cursor: pointer;

                                h2 {
                                    font-size: 22px;
                                    font-weight: 600;
                                }

                                .react-icons {
                                    font-size: 25px;
                                }
                            }

                            .colors_item {
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                justify-content: flex-start;
                                gap: 8px;

                                .color_item_radio {
                                    input {
                                        display: none;

                                        &:checked {
                                            &~label {
                                                outline: 4px solid #fff;
                                                outline-offset: 3px;
                                                padding: 10px;
                                            }
                                        }
                                    }

                                    label {
                                        display: block;
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        transition: 0.2s;
                                        cursor: pointer;


                                    }
                                }
                            }

                        }

                        .product_filter_item {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .heading {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                cursor: pointer;

                                h2 {
                                    font-size: 22px;
                                    font-weight: 600;
                                }

                                .react-icons {
                                    font-size: 25px;
                                }
                            }

                            .brand_items {
                                .brand_item {
                                    margin-top: 1px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    cursor: pointer;
                                    width: 100%;

                                    input {
                                        width: 25px;
                                        height: 25px;
                                        cursor: pointer;

                                        &:checked {
                                            &~label {
                                                font-weight: 800;
                                            }
                                        }
                                    }

                                    label {
                                        cursor: pointer;
                                        width: 90%;
                                        text-align: right;
                                        font-size: 18px;
                                        transition: 0.3s;
                                    }
                                }
                            }
                        }
                    }
                }
                .responsive {
                    transform: translateX(100%);
                }

                section {
                    // display: none;
                    width: 100%;
                }
            }
        }
    }
}