.adminOnly_component {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #282828;
}
.adminOnly_component .adminOnly_component_header {
  margin-top: 40px;
}
.adminOnly_component .adminOnly_component_header a {
  background-color: #fff;
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  color: #512da8;
  border: 1px solid #512da8;
}
.adminOnly_component h1 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 45px;
}
.adminOnly_component h1 .react-icons {
  font-size: 50px;
  color: red;
}
.adminOnly_component p {
  font-size: 30px;
  font-weight: 600;
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
  .adminOnly_component .adminOnly_component_header {
    margin-top: 37px;
  }
  .adminOnly_component h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .adminOnly_component {
    height: 350px;
  }
  .adminOnly_component .adminOnly_component_header {
    margin-top: 30px;
  }
  .adminOnly_component .adminOnly_component_header a {
    width: 200px;
  }
  .adminOnly_component h1 {
    gap: 15px;
    font-size: 38px;
  }
  .adminOnly_component h1 .react-icons {
    font-size: 45px;
  }
  .adminOnly_component p {
    font-size: 26px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .adminOnly_component {
    height: 400px;
  }
  .adminOnly_component .adminOnly_component_header {
    margin-top: 30px;
  }
  .adminOnly_component .adminOnly_component_header a {
    width: 180px;
    height: 35px;
    font-size: 14px;
  }
  .adminOnly_component h1 {
    gap: 12px;
    font-size: 32px;
  }
  .adminOnly_component h1 .react-icons {
    font-size: 38px;
  }
  .adminOnly_component p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 576px) {
  .adminOnly_component {
    height: 60vh;
  }
  .adminOnly_component .adminOnly_component_header {
    margin-top: 20px;
  }
  .adminOnly_component .adminOnly_component_header a {
    width: 160px;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
  }
  .adminOnly_component h1 {
    gap: 5px;
    font-size: 18px;
  }
  .adminOnly_component h1 .react-icons {
    font-size: 25px;
  }
  .adminOnly_component p {
    font-size: 20px;
  }
}