.updateProduct {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;

    .addProduct-header {
        h2 {
            font-size: 34px;
        }
    }

    .addProduct-form {
        width: 65%;

        form {
            background-color: #fff;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 32px 48px rgba(132, 139, 200, 0.18);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            label {
                font-size: 16px;
                font-weight: 500;
            }

            input {
                width: 100%;
            }

            .name {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 4px;

                label {
                    font-size: 16px;
                    font-weight: 500;
                }

                input {
                    // width: 50%;  
                    min-height: 35px;
                    border-radius: 4px;
                    border: 1px solid #aeaeae;
                    transition: 0.3s;
                    outline: none;
                    padding: 0 10px;
                }

                select {
                    height: 35px;
                    padding-left: 10px;
                    border-radius: 4px;
                    background-color: #fff;
                    border: 1px solid #aeaeae;
                    color: #282828;
                
                }

                textarea {
                    resize: vertical;
                    min-height: 120px;
                    outline: none;
                    border-radius: 5px;
                    padding: 5px 10px;
                    line-height: 15px;
                }

                .upload_images_background {
                    height: 200px;
                    border: 3px dashed #aeaeae;
                    border-radius: 15px;
                    width: 50%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    position: relative;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 50%;

                        .react-icons {
                            font-size: 80px;
                        }
                    }

                    .information {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        height: 25%;

                        h3 {
                            font-size: 18px;
                            font-weight: 600;
                            color: #5a58e7;
                            margin-bottom: -5px;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 400;
                            color: #282828;
                        }
                    }

                    .input {
                        width: 100%;
                        height: 25%;
                        display: flex;
                    }
                }
            }

            .select {
                width: 100%;
            }

            .button {
                width: 100%;
                height: 60px;
                margin-top: 25px;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    background-color: #512da8;
                    color: #fff;
                    font-size: 16px;
                    // padding: 15px 50px;
                    border: 1px solid transparent;
                    border-radius: 8px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    cursor: pointer;
                    transition: 0.6s;
                    width: 100%;
                    height: 100%;

                    &:hover {
                        background-color: #fff;
                        color: #512da8;
                        border: 1px solid #512da8;

                    }
                }
            }

            &:hover {
                box-shadow: none;
            }

        }
    }
}


@media only screen and (min-width: 993px) and (max-width: 1280px) {
    .updateProduct{
        padding: 50px 100px;
        gap: 18px;
        width: 100%;

        .addProduct-header {
            h2 {
                font-size: 30px;
            }
        }

        .addProduct-form {
            width: 70%;

            form {
                padding: 22px;
                gap: 12px;

                label {
                    font-size: 15px;
                    font-weight: 500;
                }

                input {
                    width: 100%;
                }

                .name {
                    gap: 4px;

                    label {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    input {
                        min-height: 30px;
                    }

                    select {
                        height: 35px;
                        padding-left: 10px;
                    }

                    textarea {
                        resize: vertical;
                        min-height: 100px;
                        outline: none;
                        border-radius: 5px;
                        padding: 5px 10px;
                        line-height: 15px;
                    }

                    .upload_images_background {
                        height: 200px;
                        border: 3px dashed #aeaeae;
                        border-radius: 15px;
                        width: 100%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        cursor: pointer;
                        position: relative;

                        .icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 50%;

                            .react-icons {
                                font-size: 80px;
                            }
                        }

                        .information {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;
                            height: 25%;

                            h3 {
                                font-size: 18px;
                                font-weight: 600;
                                color: #5a58e7;
                                margin-bottom: -5px;
                            }

                            p {
                                font-size: 14px;
                                font-weight: 400;
                                color: #282828;
                            }
                        }

                        .input {
                            width: 100%;
                            height: 25%;
                            display: flex;
                        }
                    }
                }

                .select {
                    width: 100%;
                }

                .button {
                    width: 100%;
                    height: 60px;
                    margin-top: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        background-color: #512da8;
                        color: #fff;
                        font-size: 16px;
                        // padding: 15px 50px;
                        border: 1px solid transparent;
                        border-radius: 8px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        cursor: pointer;
                        transition: 0.6s;
                        width: 100%;
                        height: 100%;

                        &:hover {
                            background-color: #fff;
                            color: #512da8;
                            border: 1px solid #512da8;

                        }
                    }
                }

                &:hover {
                    box-shadow: none;
                }

            }
        }

    }
}

@media only screen and (min-width: 769px) and (max-width:992px) {
    .updateProduct{
        padding: 20px;
        gap: 10px;

        .addProduct-header {
            h2 {
                font-size: 30px;
            }
        }

        .addProduct-form {
            width: 90%;

            form {

                .name {
                    width: 100%;
                    gap: 4px;

                    .upload_images_background {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 577px) and (max-width:768px) {
    .updateProduct{
        padding: 20px;
        gap: 15px;

        .addProduct-header {
            h2 {
                font-size: 28px;
            }
        }

        .addProduct-form {
            width: 100%;

            form {
                .name {
                    .upload_images_background {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .updateProduct{
        padding: 3px;
        gap: 12px;

        .addProduct-header {
            h2 {
                font-size: 18px;
            }
        }

        .addProduct-form {
            width: 100%;

            form {
                gap: 18px;
                padding: 10px;

                label {
                    font-size: 14px;
                    font-weight: 500;
                }

                .name {
                    label {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .upload_images_background {
                        width: 100%;

                        .information {
                            h3 {
                                font-size: 14px;
                                font-weight: 500;
                            }

                            p {
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}