.customerProfile {
  background-color: whitesmoke;
}
.customerProfile table {
  width: 80%;
  padding: 30px 0;
  margin: 0 auto;
}
.customerProfile table th,
.customerProfile table td {
  text-align: left;
}
.customerProfile table th:nth-last-child(1),
.customerProfile table td:nth-last-child(1) {
  text-align: right;
}
.customerProfile table th p {
  font-size: 15px;
  font-weight: 600;
}
.customerProfile table th p span {
  font-weight: 800;
}
.customerProfile table td p {
  font-size: 13px;
  font-weight: 400;
}
.customerProfile table .order {
  width: 14%;
}
.customerProfile table .date {
  width: 14%;
}
.customerProfile table .amount {
  width: 26%;
}
.customerProfile table .status {
  width: 23%;
}
.customerProfile table .method {
  width: 23%;
}
.customerProfile .table_cart {
  display: none;
}
.customerProfile .customerProfile_ordered_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  gap: 30px;
}
.customerProfile .customerProfile_ordered_cart .myOrders {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 32px 48px rgba(132, 139, 200, 0.18);
  width: 70%;
  display: flex;
  gap: 20px;
  position: relative;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_image {
  width: 20%;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_image img {
  width: 100%;
  height: 100%;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description {
  width: 80%;
  padding-top: 20px;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h2 {
  font-size: 22px;
  font-weight: 600;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h2 span {
  font-weight: 500;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h3 {
  font-size: 20px;
  font-weight: 600;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h3 span {
  font-weight: 600;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description p {
  font-size: 16px;
  line-height: 18px;
  margin-top: 12px;
  width: 97%;
  text-align: justify;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status {
  position: absolute;
  top: 10%;
  right: 4%;
  transform: translate(-4%, -10%);
  display: flex;
  align-items: center;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status .react-icons {
  font-size: 24px;
  margin-right: 7px;
  color: red;
}
.customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status span {
  font-weight: 600;
  margin-left: 10px;
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
  .customerProfile table th p {
    font-size: 14px;
    font-weight: 600;
  }
  .customerProfile table th p span {
    font-weight: 700;
  }
  .customerProfile table td p {
    font-size: 12px;
    font-weight: 400;
  }
  .customerProfile table .order {
    width: 15%;
  }
  .customerProfile table .date {
    width: 15%;
  }
  .customerProfile table .amount {
    width: 25%;
  }
  .customerProfile table .status {
    width: 23%;
  }
  .customerProfile table .method {
    width: 22%;
  }
  .customerProfile .table_cart {
    display: none;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_image {
    width: 30%;
    height: 200px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description {
    width: 70%;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h2 {
    font-size: 21px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h3 {
    font-size: 19px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description p {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    width: 98%;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status {
    position: absolute;
    top: 10%;
    right: 4%;
    transform: translate(-4%, -10%);
    display: flex;
    align-items: center;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status .react-icons {
    font-size: 24px;
    margin-right: 7px;
    color: red;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status span {
    font-weight: 600;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .customerProfile table {
    width: 85%;
  }
  .customerProfile table th p {
    font-size: 13px;
    font-weight: 500;
  }
  .customerProfile table th p span {
    font-weight: 700;
  }
  .customerProfile table td p {
    font-size: 12px;
    font-weight: 400;
  }
  .customerProfile table .order {
    width: 16%;
  }
  .customerProfile table .date {
    width: 16%;
  }
  .customerProfile table .amount {
    width: 24%;
  }
  .customerProfile table .status {
    width: 22%;
  }
  .customerProfile table .method {
    width: 22%;
  }
  .customerProfile .table_cart {
    display: none;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders {
    width: 80%;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_image {
    width: 35%;
    height: 200px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description {
    width: 65%;
    padding-top: 20px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -7px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h2 span {
    font-weight: 500;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h3 {
    font-size: 18px;
    font-weight: 600;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h3 span {
    font-weight: 600;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description p {
    font-size: 15px;
    line-height: 17px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status {
    font-size: 16px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status .react-icons {
    font-size: 20px;
    margin-right: 5px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status span {
    font-weight: 600;
    margin-left: 7px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .customerProfile table {
    display: none;
  }
  .customerProfile .table_cart {
    display: block;
    padding: 30px 0;
  }
  .customerProfile .table_cart .table_cart_lists {
    list-style: none;
  }
  .customerProfile .table_cart .table_cart_lists li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    height: 25px;
  }
  .customerProfile .table_cart .table_cart_lists li h3 {
    font-size: 18px;
    font-weight: 700;
  }
  .customerProfile .table_cart .table_cart_lists li p {
    font-size: 18px;
    font-weight: 500;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders {
    padding: 10px;
    border-radius: 15px;
    width: 85%;
    gap: 20px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_image {
    width: 35%;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    background-color: red;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_image img {
    width: 100%;
    height: 100%;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description {
    width: 65%;
    padding-top: 30px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -5px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h3 {
    font-size: 17px;
    font-weight: 600;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description p {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    width: 97%;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status {
    font-size: 14px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status .react-icons {
    font-size: 20px;
    margin-right: 3px;
    color: red;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status span {
    font-weight: 600;
    margin-left: 3px;
  }
}
@media only screen and (max-width: 576px) {
  .customerProfile table {
    display: none;
  }
  .customerProfile .table_cart {
    display: block;
    padding: 30px 0;
  }
  .customerProfile .table_cart .table_cart_lists {
    list-style: none;
  }
  .customerProfile .table_cart .table_cart_lists li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 20px;
  }
  .customerProfile .table_cart .table_cart_lists li h3 {
    font-size: 16px;
    font-weight: 600;
  }
  .customerProfile .table_cart .table_cart_lists li p {
    font-size: 13px;
    font-weight: 500;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders {
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_image {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description {
    width: 100%;
    padding-top: 1px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: -7px;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_description p {
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    width: 100%;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status {
    position: absolute;
    top: 4%;
    right: 4%;
    transform: translate(-4%, -4%);
    display: flex;
    align-items: center;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status .react-icons {
    font-size: 24px;
    margin-right: 7px;
    color: red;
  }
  .customerProfile .customerProfile_ordered_cart .myOrders .myOrders_payment_status span {
    font-weight: 600;
    margin-left: 10px;
  }
}