footer {
    background-color: #282828;
    color: white;
    padding: 20px 0;

    .footer-section {
        .main-footer {
            display: flex;
            gap: 20px;

            .first-part,
            .second-part,
            .third-part,
            .forth-part {
                width: calc((100% - 3 * 20px) / 4);
                min-height: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 5px 20px;

                .title {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    color: #fff;

                    p {
                        text-transform: capitalize;
                        font-size: 20px;
                        font-weight: 600;
                        font-family: "Poppins", sans-serif;
                    }

                    img {
                        object-fit: contain;
                    }
                }

                .input {
                    background-color: #ffcc05;
                    border-radius: 10px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    width: 90%;
                    margin: 15px auto 5px;
                    position: relative;

                    .footer-input {
                        background-color: #ffffff;
                        border: none;
                        outline: none;
                        height: 100%;
                        width: 100%;
                        padding-left: 12px;
                        padding-right: 50px;
                        color: #858585;
                        font-family: "Poppins", sans-serif;
                        font-size: 15px;

                        &::placeholder {
                            color: #858585;
                            font-family: "Poppins", sans-serif;
                            font-size: 15px;
                        }
                    }

                    .footer-input-icon {
                        background-color: #858585;
                        width: 18%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: 0.5s;
                        position: absolute;
                        top: 0;
                        right: 0;

                        .react-paperPlane {
                            font-size: 18px;
                        }

                        &:hover {
                            background-color: #ffcc05;
                        }
                    }
                }

                .logs {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 80%;
                    height: 30px;
                    margin: 0 auto;

                    a {
                        text-decoration: none;

                        .react-icons {
                            color: white;
                            transition: 0.4s;
                            font-size: 20px;
                        }

                        &:hover .react-icons {
                            transform: scale(1.2);
                            color: #ffcc05;
                        }
                    }
                }

                .writing {
                    color: white;
                    font-size: 16px;
                    line-height: 1.4em;
                    font-weight: 400;
                    font-family: "Poppins", sans-serif;
                    text-align: left;

                    p {
                        font-size: 14px;
                    }

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        li {
                            transition: 0.4s;

                            &:hover {
                                transform: translateX(7px);
                            }
                        }

                        a {
                            text-decoration: none;
                            font-weight: 700;
                            color: white;

                            &:hover {
                                color: #ffcc05;
                            }
                        }
                    }

                    span {
                        font-weight: 700;
                        color: white;
                        cursor: pointer;
                        line-height: 1;
                        font-size: 15px;
                        transition: 0.5s;

                        &:hover {
                            color: #ffcc05;
                        }
                    }
                }

                .contact {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    margin-top: 10px;

                    .contact-part {
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        .react-icons {
                            color: #ffcc05;
                        }

                        a {
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 500;
                            font-family: "Poppins", sans-serif;
                            color: white;
                            transition: 0.5s;

                            &:hover {
                                color: #ffcc05;
                            }
                        }
                    }
                }
            }

            .third-part {
                padding-left: 40px;
            }
        }

        .second-footer,
        .third-footer {
            display: flex;
            gap: 25px;
            justify-content: center;
            align-items: center;
            max-width: 45%;
            margin: 25px auto 15px;
            font-family: "Poppins", sans-serif;

            .img {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            p {
                font-size: 16px;

                span {
                    cursor: pointer;
                    transition: 0.5s;

                    &:hover {
                        color: #ffcc05;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 993px) and (max-width: 1280px) {
    footer {
        padding: 18px 0;

        .footer-section {
            .main-footer {
                gap: 18px;

                .first-part,
                .second-part,
                .third-part,
                .forth-part {
                    width: calc((100% - 3 * 18px) / 4);
                    gap: 18px;
                    padding: 5px 18px;

                    .title {
                        height: 55px;

                        p {
                            font-size: 18px;
                        }
                    }

                    .input {
                        height: 32px;
                        width: 95%;
                        margin: 13px auto 4px;

                        .footer-input {
                            padding-left: 10px;
                            padding-right: 40px;
                            font-size: 12px;

                            &::placeholder {
                                font-size: 12px;
                            }
                        }

                        .footer-input-icon {

                            .react-paperPlane {
                                font-size: 16px;
                            }
                        }
                    }

                    .logs {
                        width: 90%;
                        height: 28px;

                        a {

                            .react-icons {
                                font-size: 18px;
                            }
                        }
                    }

                    .writing {
                        font-size: 13px;
                        line-height: 1.3em;
                        font-weight: 300;

                        p {
                            font-size: 11px;
                            line-height: 1.2em;
                        }

                        ul {

                            a {
                                font-weight: 600;
                            }
                        }

                        span {
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }

                    .contact {

                        .contact-part {
                            gap: 12px;

                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }

                .third-part {
                    padding-left: 35px;
                }
            }

            .second-footer,
            .third-footer {
                gap: 20px;
                margin: 22px auto 12px;

                p {
                    font-size: 15px;
                }

            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width:992px) {
    footer {
        padding: 16px 0;

        .footer-section {
            .main-footer {
                gap: 16px;

                .first-part,
                .second-part,
                .third-part,
                .forth-part {
                    width: calc((100% - 3 * 16px) / 4);
                    gap: 16px;
                    padding: 4px 16px;

                    .title {
                        height: 50px;

                        p {
                            font-size: 15px;
                        }
                    }

                    .input {
                        height: 30px;
                        width: 95%;
                        margin: 12px auto 3px;

                        .footer-input {
                            padding-left: 8px;
                            padding-right: 30px;
                            font-size: 10px;

                            &::placeholder {
                                font-size: 10px;
                            }
                        }

                        .footer-input-icon {

                            .react-paperPlane {
                                font-size: 12px;
                            }
                        }
                    }

                    .logs {
                        width: 100%;
                        height: 25px;

                        a {

                            .react-icons {
                                font-size: 14px;
                            }
                        }
                    }

                    .writing {
                        font-size: 10px;
                        line-height: 1.2em;
                        font-weight: 300;

                        p {
                            font-size: 9px;
                            line-height: 1.1em;
                        }

                        ul {

                            a {
                                font-weight: 500;
                            }
                        }

                        span {
                            font-weight: 500;
                            font-size: 12px;
                        }
                    }

                    .contact {

                        .contact-part {
                            gap: 8px;

                            .react-icons {
                                font-size: 10px;
                            }

                            a {
                                font-size: 9px;
                            }
                        }
                    }
                }

                .third-part {
                    padding-left: 30px;
                }
            }

            .second-footer,
            .third-footer {
                gap: 15px;
                margin: 20px auto 10px;

                p {
                    font-size: 13px;
                }

            }
        }
    }
}

@media only screen and (min-width: 577px) and (max-width:768px) {
    footer {
        padding: 16px 40px;

        .footer-section {
            .main-footer {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 40px;

                .first-part,
                .second-part,
                .third-part,
                .forth-part {
                    width: 100%;
                    gap: 14px;
                    padding: 10px 50px;

                    .picture {
                        height: 50px !important;
                        margin: 10px auto 40px;
                    }

                    .title {
                        height: 15px;

                        p {
                            font-size: 23px;
                        }
                    }

                    .input {
                        height: 40px;
                        width: 80%;
                        margin: 15px auto 5px;

                        .footer-input {
                            padding-left: 15px;
                            padding-right: 30px;
                            font-size: 14px;

                            &::placeholder {
                                font-size: 14px;
                            }
                        }

                        .footer-input-icon {

                            .react-paperPlane {
                                font-size: 16px;
                            }
                        }
                    }

                    .logs {
                        width: 80%;
                        height: 40px;

                        a {
                            .react-icons {
                                font-size: 20px;
                            }
                        }
                    }

                    .writing {
                        font-size: 12px;
                        line-height: 1.1em;
                        font-weight: 300;

                        p {
                            font-size: 14px;
                            line-height: 1.1em;
                        }

                        ul {

                            a {
                                font-weight: 400;
                            }
                        }

                        span {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }

                    .contact {

                        .contact-part {
                            gap: 14px;

                            .react-icons {
                                font-size: 16px;
                            }

                            a {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .third-part {
                    margin: 0 auto;
                }
            }

            .second-footer,
            .third-footer {
                gap: 10px;
                margin: 18px auto 8px;
                max-width: 80%;

                p {
                    font-size: 16px;
                }

            }
        }
    }
}

@media only screen and (max-width: 576px) {
    footer {
        padding: 12px 10px;

        .footer-section {
            .main-footer {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 40px;

                .first-part,
                .second-part,
                .third-part,
                .forth-part {
                    width: 100%;
                    gap: 14px;
                    padding: 5px;

                    .picture {
                        height: 40px !important;
                        margin: 10px auto 30px;
                    }

                    .title {
                        height: 10px;

                        p {
                            font-size: 20px;
                            text-align: justify;
                        }
                    }

                    .input {
                        height: 35px;
                        width: 95%;
                        margin: 15px auto 5px;

                        .footer-input {
                            padding-left: 8px;
                            padding-right: 20px;
                            font-size: 13px;

                            &::placeholder {
                                font-size: 13px;
                            }
                        }

                        .footer-input-icon {

                            .react-paperPlane {
                                font-size: 14px;
                            }
                        }
                    }

                    .logs {
                        width: 80%;
                        height: 35px;

                        a {
                            .react-icons {
                                font-size: 18px;
                            }
                        }
                    }

                    .writing {
                        font-size: 14px;
                        line-height: 1.1em;
                        font-weight: 400;

                        p {
                            font-size: 16px;
                            line-height: 1.1em;
                            text-align: justify;
                        }

                        ul {

                            a {
                                font-weight: 500;
                            }
                        }

                        span {
                            font-weight: 600;
                            font-size: 17px;
                            line-height: 20px;
                        }
                    }

                    .contact {

                        .contact-part {
                            gap: 16px;

                            .react-icons {
                                font-size: 18px;
                            }

                            a {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .third-part {
                    margin: 0 auto;
                }
            }

            .second-footer,
            .third-footer {
                gap: 10px;
                margin: 16px auto 7px;
                max-width: 95%;

                p {
                    font-size: 10px;
                }

            }
        }
    }
}